<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/new">
        <p>User's Name:</p>
        <input type="text" name='userName'>
        <p>Message:</p>
        <input type="text" name='messageText'>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
